<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Icon Menu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
            background-color: #f2f2f2;
        }

        .icon-container {
            display: flex;
            gap: 30px;
        }

        .icon-card {
            text-align: center;
            padding: 15px;
            width: 100px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s;
            cursor: pointer;
        }

        .icon-card:hover {
            transform: scale(1.1);
        }

        .icon-card i {
            font-size: 32px;
            color: #3498db;
        }

        .icon-card p {
            margin-top: 10px;
            font-size: 14px;
            color: #333;
        }

        .nav-container {
            background-color: #2b2929;
            display: flex;
            justify-content: space-between;
            padding: 12px;
            color: white;
            margin-top: 10px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
        }
        .logo-link {
            color: white;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="nav-container">
        <a href="/landing" class="logo-link">
            <h2 class="logo">Giki Medical Center</h2>
        </a>
        <h2 class="page-info">Update Information </h2>
    </div>
    <div class="icon-container">
        <div class="icon-card" onclick="location.href='/update-users'">
            <i class="fas fa-user-md"></i>
            <p>users</p>
        </div>
        <div class="icon-card" onclick="location.href='/update-medicine'">
            <i class="fas fa-vials"></i>
            <p>medicines</p>
        </div>
        <div class="icon-card" onclick="location.href='/update-doctors'">
            <i class="fas fa-pills"></i>
            <p>doctors</p>
        </div>
        <div class="icon-card" onclick="location.href='/appointments'">
            <i class="fas fa-calendar-check"></i>
            <p>Appointments</p>
        </div>
        <div class="icon-card" onclick="location.href='/support'">
            <i class="fas fa-headset"></i>
            <p>admin</p>
        </div>
    </div>
</body>

</html>